.header {
  padding: 4% 4.2%;
  display: flex;
  justify-content: space-between;

  .header__left {
    display: flex;

    img {
      margin-right: 16px;
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      //   line-height: 24px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      //   line-height: 17px;

      color: #9d9d9d;
    }
  }

  .header__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0;
    min-width: 140px;

    .header__cart {
      display: flex;
      text-align: center;
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 10px;
        color: #9b9b9b;
        font-size: 21px;
      }

      span {
        font-weight: 600;
        font-size: 14px;
        color: #5c5c5c;
      }
    }

    img {
      cursor: pointer;
      vertical-align: middle;
    }

    a {
      font-size: 19px;
      color: #9b9b9b;
      margin-left: 21px;

      i {
        vertical-align: middle;
      }
    }
  }
}

// .cartSideBlock {
//   &.enter {
//     width: 0%;
//     opacity: 0;
//   }

//   &.enter-active {
//     // width: 30.8%;
//     // opacity: 1;
//     animation: card-side-bar 0.2s ease-in-out;
//   }
// }
